div.leftcolumn {width:31%;float:left;margin-right:35px;}
div.middlecolumn {width:21%;float:right;}
div.rightcolumn {width:31%;float:left;}

/* formating for the comments */
ul.dashboardstats {margin-left:5px;}
ul.dashboardstats li { list-style:none; border-bottom:1px dotted #ddd;margin-bottom:5px;color:#aaa; }
ul.dashboardstats li span { float:right; }

/* for the photos and the sections */
ul.topfive {color:#eee; }
ul.topfive li {margin-bottom:10px;}
ul.topfive li span {font-size:70px;float:left;}
ul.topfive li ul {float:left;margin-left:20px;}
ul.topfive li ul li span {color:#aaa;font-size:12px;}

img.five {background-color:#eee; border:1px solid #bbb;padding:4px;margin-top:10px;}
p.uploadlink {margin-bottom:40px; margin-top:20px; text-align:right;}

h3.subtitle {margin-bottom:10px;}