.uploadifyQueueItem{background-color:#FAFAFA;color:#AAA;font-family:Verdana,Geneva,sans-serif;font-size:11px;font-size-adjust:none;font-stretch:normal;font-style:normal;
    font-variant:normal;font-weight:normal;line-height:normal;margin-top:10px;padding:10px;width:975px;}

.uploadifyQueueItem .cancel {float:right;}
.uploadifyProgress {background-color:#fff;border-color:#808080 #C5C5C5 #C5C5C5 #808080;border-style:solid;border-width:1px;margin-top:10px;width:100%;}
.uploadifyProgressBar {background-color:#0099FF;height:3px;width:1px;}

ul.uploadsteps{ clear:both; margin-top:40px; margin-left:10px;}
ul.uploadsteps li { list-style:none; vertical-align:text-top; padding-top:2px;display:inline;margin-right:40px;}
ul.uploadsteps li img { vertical-align:middle; margin-right:5px; padding-bottom:3px;}

#fileInputUploader {left:0px; position:relative; top:-34px;}

div.form p span {color:#aaa;font-size:11px;}

p.editdatesection span {float:left;}
p.editdatesection span input.editdate {width:50px;}

div.nav ul {margin-bottom:-1px;}
div.nav { border-bottom:1px dotted #999999; font-size:12px; letter-spacing:1px; vertical-align:baseline; width:100%; }

div.editphoto p {margin-bottom:25px;}
div.form p select {font-size:12px;padding:4px; }
div#map {height:250px;width:500px;float:right; border:1px dotted #bbb;}

/* dropdowns: general */

.dropdown-menu	{ background:#fff; border:1px dotted #333; padding:7px 12px; position:absolute; top:16px; right:90; display:none; z-index:5000; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
.dropdown-menu p { font-size:11px; }
		
* html .dropdown-menu { top:28px; }
*+ html .dropdown-menu { top:28px; }
		
/* dropdowns: specific */
#menu2 { float:left; }
div#albumsmenu	{ width:200px; font-size:11px; }
div#albumsdropdown, div#setlocationdropdown	{ position:relative; }

div#setlocationmenu {width:500px;}

/* Album tag styles */
a.removetag, a.removetag:hover {background:transparent url('/content/images/greyremove.jpg') no-repeat 0% 0%; width:12px; height:12px; display:inline-block; vertical-align:middle;}
a.removetag:hover {background:transparent url('/content/images/redremove.jpg') no-repeat 0% 0%;}

ul#albums li {margin-top:5px; color:#999;}
span#albums span {margin-right:10px; color:#bbb;}
div#albumstree {font-size:10px; width:200px;padding-top:5px;color:#666;}

span#location {color:#666;}

div.uploadhyperlinks {margin-bottom:10px;border-top:1px dotted #666;padding-top:15px;text-align:right;}
a#uploadbutton {font-weight:bold;color:#fff;background-color:#419337;border:1px solid #419337;}
a#clearqueue {font-weight:bold;color:#fff;background-color:#aaa;border:1px solid #aaa;}
a#nextlink {margin-top: 15px; color:#fff; display:none; background-color:#777;}


