h3.firstphototitle {color:#888;font-size:20px;margin-top:25px;}
h4.recentphotos {margin-top:5px; margin-bottom:15px;color:#666;}
div.sidebar {margin-top:45px;}

p {color:#888;text-align:justify;line-height:150%;color:#999;font-size:11px;}

/* fullsize photo */
div.userrandomphotos{float:left; width:609px;background-color:#fff;margin-bottom:30px;}
div.userrandomphotos div.firstimage {width:618px;margin-bottom:7px;}
div.userrandomphotos div.firstimage a.homepagefullsize {display:block; float:left; margin-right:20px; margin-bottom:10px;}
div.userrandomphotos div.firstimage a.homepagefullsize img {max-width:380px;border:1px dotted #ccc; padding:10px;}

/* Large thumbnails */
div.largethumbs {margin-top:40px;}
div.largethumbs span {width:180px;height:120px;overflow:hidden;float:left;margin:0 0px 6px 0; padding:10px; border:1px dotted #ccc; list-style:none;}
div.largethumbs span a {display:block;width:180px;height:120px;overflow:hidden;}

div.thumbnails {width: 190px; float: left;margin-right:19px;margin-bottom:20px;height:190px;}
div.thumbnails img {max-width:300px; max-height:300px;}
ul.largethumbnailmetadata {display:block;color:#999; font-size:10px;margin-left:5px;}
ul.largethumbnailmetadata li.title {font-size:12px;margin-bottom:5px;color:#666;}
ul.largethumbnailmetadata li.comment {margin-top:5px;}

/* small thumbnails */
div.smallthumbs span {width:60px;height:60px;overflow:hidden;float:left;margin:0 9.4px 9.4px 0;background-color:#eee; padding:4px; border:1px solid #ccc; list-style:none;}
div.smallthumbs span a {display:block;width:60px;height:60px;overflow:hidden;margin:0 10px 10px 0;}

/* album */
table.album td, table.recent td  {vertical-align:top;font-size:11px; }
table.albumwidget, ul.albummetadata {width:100%;color:#bbb;}
ul.albummetadata {line-height:13px;}
table.albumwidget label {display:inline;font-size:10px;color:#bbb;}
table.albumwidget ul li {font-size:10px;}
table.albumwidget label.albumtitle {font-size:11px;color:#666;}
table.albumwidget tr td:first-child {width:35px;}
ul.albummetadata span { float:right;}
ul.albummetadata label { float:left;}
ul.albummetadata li {clear:both;}
ul.albummetadata li:first-child + li, ul.albummetadata li:first-child + li + li {border-bottom:1px dotted #ddd;height:12px;}

table.recent ul.albummetadata li:first-child + li, ul.albummetadata li:first-child + li + li {border-bottom:none;height:12px;}

/* tag header hack */
h3.tagallhack {margin-top:24px;}

/* main section widgets */
div.userrandomphotos div#commentwidget ul li{border:none;}

