div#photos { margin-left: 20px; width:790px; float: left; display: block; background-color: #fff;  }
div#albumstree {width:180px; float:left; border-right:1px dotted #ccc;padding-top:20px;padding-bottom:20px;min-height:400px;}

span.albumtitle { display:block; font-size:11px; margin-top:10px; text-align:center; width:80px; }

div#contentarea {margin-top:0px;}
div.sidebar {margin-top:20px;}
