/**********************************************
Reset
***********************************************/

/* v1.0 | 20080212 */
/* Reset Css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**********************************************
End Reset
***********************************************/

body {background-color:#fff;font-family:'Lucida Sans Unicode','Lucida Grande',Tahoma,sans-serif; font-size:12px;letter-spacing:1px;}
div#header {border-bottom:1px dotted #ddd;}
div#body { margin-left:auto; margin-right:auto; width:1001px; }
div#photoarea, .whitebackground {background-color:#fff;}

h1 {color:#aaa; text-align:left; margin-left:auto;margin-right:auto;}
h1#sitetitle {font-family:verdana,serif;color:#bbb; text-transform:uppercase; font-size:16px;font-weight:normal;margin-top:30px;letter-spacing:1px;float:left;width:300px;margin-bottom:5px;}

h2.grouptitle {color:#333;margin-bottom:1px;font-size:14px;font-weight:normal;}

h3 {color:#999;font-size:17px;font-weight:normal;}
h3.subtitle {color:#888; font-size:15px; border-bottom:1px dotted #eee; margin-bottom:40px;}
h3.fontnormal {font-weight:normal;}
h3.colorbbb {color:#bbb;}

h4 {color:#777777; font-size:12px; font-weight:normal;}

label{color:#000;font-size:12px; letter-spacing:1px;display:block;}
label#breadcrumbs {color:#ccc;font-size:12px; letter-spacing:1px;}

p {font-family:'Lucida Sans Unicode','Lucida Grande',Tahoma,sans-serif;  margin-top:8px;}
p {color:#777777; font-size:12px; font-weight:normal; letter-spacing:1.5px; line-height:130%;}
p#sizes {margin-top:0px;margin-bottom:5px; position:relative; z-index:1000;color:#ccc;}
 p#sizes.hyperlinks a:link, p#sizes.hyperlinks a:visited { color:#ddd;}

.hidden {display:none;}


ul { border:0 none;margin:0;padding:0;}

.floatright{float:right;}
.floatleft{float:left;}

.fontsize20{font-size:20px;}
.fontnormal{font-weight:normal;}

.margintop0{margin-top:0px;}
.margintop10{margin-top:10px;}
.margintop30{margin-top:30px;}
.margintop40{margin-top:40px;}
.margintop50{margin-top:50px;}

.marginbottom10{margin-bottom:10px;}
.marginbottom20{margin-bottom:20px;}
.marginbottom30{margin-bottom:30px;}
.marginbottom40{margin-bottom:40px;}

.paddingtop15{padding-top:15px;}
.paddingtop20{padding-top:20px;}

.paddingbottom20{padding-bottom:20px;}
span.highlight {background-color:#eee;}
.whitebackground {background-color:#fff;}


/**********************************************
Messages
***********************************************/

span.field-validation-error {color:red;}
.jnotifica_msg {border-bottom:1px dotted #999;}

/**********************************************
Messages
***********************************************/

/**********************************************
Links
***********************************************/
table.results tr td a:link, table.results tr td a:visited, a.link:link, a.link:visited {color:#aaa; text-decoration:none;}
table.results tr td a:hover, a.link:hover{color:#fff; background-color:#aaa; text-decoration:none;}
table.results tr td a.redhover:hover{color:#fff; background-color:maroon; text-decoration:none;}
table.results tr td a.showimage:hover{background-color:#fff;}

a.buttonstyle:link, 
a.buttonstyle:visited, 
a.buttonstyle:hover {text-decoration:none;}

.hyperlinks {color:#999999;margin-top:20px;}
.hyperlinks {line-height:150%;letter-spacing:0.5px;text-align:justify;}

div#photolinks  a:link, div#photolinks a:visited, div#imageDetails  a:link, div#imageDetails a:visited, 
.hyperlinks a:link, .hyperlinks a:visited{color:#aaa; font-size:11px;text-decoration:none; padding:1px;}
a.hyperlinks:link, a.hyperlinks:visited{color:#aaa; font-size:11px;text-decoration:none;letter-spacing:1px;padding:1px;}
.hyperlinks a:hover, div#photolinks a:hover, div#imageDetails a:hover,
p#sizes.hyperlinks a:hover, a.hyperlinks:hover {text-decoration:none; color:#fff; background-color:#aaa; padding:1px;}


/**********************************************
End
***********************************************/

/**********************************************
Navigation
***********************************************/

ul.navigation {margin:0px; padding:0px; display:inline; text-transform:lowercase;float:right;}
ul.navigation li {display:inline;font-size:12px;color:#ccc;margin-left:10px;}
ul.navigation li a:link, ul.navigation li a:hover, ul.navigation li a:visited{color:#666; text-decoration:none;}

/**********************************************
End Navigation
***********************************************/

/**********************************************
BreadCrumbs
***********************************************/

div#userheader { color:#CCC; font-size:10px; margin-top:3px; }

/**********************************************
End BreadCrumbs
***********************************************/

/**********************************************
ThumbNail
***********************************************/

ul.groupedphotos { margin-top:10px;}
ul.groupedphotos li {float:left; padding:10px; list-style:none;display:block;height:60px;width:80px;margin-top:14px;margin-right:14px;border:1px dotted #ccc;}

ul.groupedphotos li span.image img {border:none;}
ul.groupedphotos li span.image a {display:block; border:none;}
ul.groupedphotos li span.image {display:block;overflow:hidden;height:60px;width:80px;}

label.count{color:#999999; display:block; font-weight:normal; padding-top:5px;}

/**********************************************
End ThumbNail
***********************************************/

/**********************************************
Width
***********************************************/
.width232 {width:232px;}
.width252 {width:252px;}
.width310 {width:310px}
.width320 {width:320px}
.width100percent {width:100%;}
/**********************************************
End Width
***********************************************/

/**********************************************
Input Styles
***********************************************/
input[type=text], input[type=password] {
    border-radius:4px;
    border:1px dotted #bbb;
    font-size:1.3em;
    margin:0 0 5px;
    padding:5px;
    width:203px;
    color:#333333;
}

input[type=submit], a.buttonstyle
{	
   border-radius:4px;
    background-color:#bbb;
    border:1px solid #bbb;
    color:#FFFFFF;
    font-size:12px;
    font-weight:bold;
    margin:0 5px 0 0;
    padding:4px 10px 5px;
    text-shadow:0 -1px 0 #bbb;	
    letter-spacing:1px;
    cursor:pointer;
}

/**********************************************
End Input Styles
***********************************************/
/**********************************************
Form
***********************************************/

div.searchform {margin-bottom:20px;}
div.searchform  input[type=text] {width:238px;}

div.form p {margin-bottom:15px;}
div.form h3 {color:#999;font-size:12px;font-weight:bold;margin-top:35px;}

div.form p input.checkboxinput { float:left; vertical-align:middle; width:20px; }



/**********************************************
End Form
***********************************************/

.clearboth {clear:both;}

div#footer {background-color:#fff;height:50px;font-size:11px;color:#ccc;text-align:center; clear: both; margin-top: 150px;}
div#footer p { margin:0px; padding:0px; padding-top:15px;}


/**********************************************
 Sidebar
***********************************************/
div.sidebar {float:right;padding:5px 5px 5px 0;width:342px;background-color:#fff;margin-top:50px;}
div.sidebar h3, div.widgets h3 {border-bottom:1px dotted #666; margin-bottom:8px;padding-bottom:3px; color:#666;}
div.sidebar h3, div.sidebar h3 a:link, div.sidebar h3 a:visited, div.widgets h3, div.widgets h3 a:link, div.widgets h3 a:visited {font-size:13px;color:#333;}
div.sidebar h3 a:hover, div.widgets h3 a:hover  {color:#fff;}
div.sidebar .lightgrey{color:#bbb;}

ul.thumbs{ margin-left:5px; width:670px;}
ul.thumbs li a img{ border:none;width:auto;}
ul.thumbs li, table span.imagecontainer {width:30px;height:30px;overflow:hidden;float:left;margin:0 12px 12px 0; padding:4px; border:1px dotted #ccc; list-style:none;}
ul.thumbs li span, table span.imagecontainer a {display:block;width:30px;height:30px;overflow:hidden;margin:0 10px 10px 0;}

/**********************************************
End Sidebar
***********************************************/


/**********************************************
Widgets
***********************************************/
table.albumwidget td, table.recent td  {vertical-align:top;font-size:11px; }
table.albumwidget, ul.albummetadata {width:100%;color:#bbb;}
ul.albummetadata {line-height:13px;}
table.albumwidget label {display:inline;font-size:10px;color:#bbb;}
table.albumwidget ul li {font-size:10px;}
table.albumwidget label.albumtitle {font-size:11px;color:#666;}
table.albumwidget tr td:first-child {width:35px;}

ul.albummetadata span { float:right;}
ul.albummetadata label { float:left;}
ul.albummetadata li {clear:both;}
table.albumwidget ul.albummetadata li:first-child + li, table.albumwidget ul.albummetadata li:first-child + li + li {border-bottom:1px dotted #ddd;height:12px;}

table.recent ul.albummetadata li:first-child + li, table.recent ul.albummetadata li:first-child + li + li {border-bottom:none;height:12px;}

/**********************************************
End Widgets
***********************************************/


/**********************************************
 Content Area
***********************************************/
div#contentarea {width:629px;float:left;margin-top:20px;}
/**********************************************
 End Content Area
***********************************************/


/**********************************************
Tab Styles
***********************************************/

div.nav 
{
    border-bottom:1px dotted #999999;
    font-size:12px;
    letter-spacing:1px;
    margin-top:50px;
    margin-bottom:10px;
    width:100%;
    vertical-align:baseline;
}
div.nav ul {margin-bottom:-1px;}
div.nav ul li {display:inline;}

div.nav a, span.youarehere
{
    border:1px solid #FFFFFF;
    color:#bbb;
    display:block;
    float:left;
    font-size:90%;
    height:24px;
    margin:8px 8px 0 0;
    padding:0 11px;
    text-decoration:none;
    line-height:22px;
}

div.nav a:hover
{
    background:#FFFFFF none repeat scroll 0 0;
    border-color:#777777 #777777 #FFFFFF;
    border-style:dotted;
    border-width:1px;
    line-height:20px;
    margin-top:9px;
}

div.nav a.youarehere, span.youarehere
{
    background:#FFFFFF none repeat scroll 0 0;
    border-color:#777777 #777777 #FFFFFF;
    border-style:dotted;
    border-width:1px;
    height:30px;
    line-height:28px;
    margin-top:3px;
    padding:0 11px;
    color:#666;
    font-size:110%;
}

/**********************************************
End Tab Styles
***********************************************/

/**********************************************
Pagination
***********************************************/


p.paging {color:#aaa; font-size:11px; margin:0px;padding:0px;}

ul.pagination { margin-bottom:10px; margin-top:30px; padding-bottom:10px; }

ul.pagination li { border:0 none; font-size:10px; list-style:none outside none; margin:0 2px 0 0; padding:0; }

ul.pagination a, div.top.pagination a, div.top.pagination span, div.bottom.pagination a, div.bottom.pagination span { border:1px dotted #CCCCCC; margin-right:2px;}
ul.pagination a.active, div.top.pagination a.active, div.top.pagination span, div.bottom.pagination a.active, div.bottom.pagination span {border:1px solid #999;color:#999;}

ul.pagination a:link, ul.pagination a:visited, 
div.top.pagination a:link, div.top.pagination a:visited, 
div.top.pagination span, div.bottom.pagination a:link, 
div.bottom.pagination a:visited, div.bottom.pagination span {color:#999999; display:block; float:left; padding:3px 6px; text-decoration:none; font-size:10px; }

/**********************************************
End Pagination
***********************************************/

/**********************************************
 Table Search style
***********************************************/
table.resultswithcheckbox, table.results {border-collapse:collapse;}
table.results tr td, table.resultswithcheckbox tr td {border-bottom:1px dotted #eee;padding:15px; vertical-align:middle;}
table.results tr th, table.resultswithcheckbox tr th {padding:15px 15px 5px; text-align:left; color:#666;font-weight:normal;}

table.results td:first-child, table.results th:first-child, 
table.resultswithcheckbox td:first-child, table.resultswithcheckbox th:first-child {text-align:center;}
table.resultswithcheckbox td:first-child + td {width:95px;}
table.results td:first-child {width:95px;}

table.results tr td p, table.resultswithcheckbox tr td p  {font-size:11px;}
table.results img, table#commenttable img, a.albumlink img, table.resultswithcheckbox img, img.topten {border:1px dotted #ccc;padding:10px;}
table.results, table.resultswithcheckbox {border-collapse:collapse;}


/**********************************************
End Search
***********************************************/

/**********************************************
Tag Filter
***********************************************/

/* tag filter textbox */
label#filtertags {color:#bbb; margin-right:5px;display:inline;}
input#tagfilter, input#yearfilter {margin:5px 0; padding:2px; width:100px; border:1px dotted #aaa; color:#999; letter-spacing:1px; }

/**********************************************
End Tag Filter
***********************************************/

/**********************************************
 Form
***********************************************/
div.form p select, p.privacy select {font-size:1.0em; padding:5px;}
div.form p input[type="text"], p.privacy input[type="text"] { border:1px solid #CCCCCC; color:#333333; font-size:1.3em; padding:4px; width:600px; }
/**********************************************
 End Form
***********************************************/
/***************************************************************
LightBox, Photo details
****************************************************************/
div#imageDetails, div#imageDescription {text-align:left;clear:both;padding-top:5px;padding-left:10px;color:#666;}
div#imageDetails {padding-top:15px;}
div#photolinks, div#imageDetails{text-align:left;background-color:#fff;color:#666;text-transform:lowercase;}

div#photolinks ul li, div#imageDetails ul li{list-style:none;}
div#photolinks ul, div#imageDetails ul{margin:0px;padding:0px;}

.tagcolor {color:#777;}
/***************************************************************
End LightBox
****************************************************************/

/****************************************************************
  Sign-in 
*****************************************************************/

a.signin {
    position:relative;
    margin-left:3px;
}
a.signin span {
    background-image:url("/content/images/toggle_down_light.png");
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}
#topnav a.menu-open {
    background:#ddeef6!important;
    color:#666!important;
    outline:none;
}
#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
a.signin.menu-open span {
    background-image:url("/content/images/toggle_up_dark.png");
    color:#789;
}


#signin_menu {
    border-radius:5px;
    display:none;
    background-color:#FFFFFF;
    border:1px dotted #000000;
    position:absolute;
    width:210px;
    z-index:100;
    text-align:left;
    padding:22px;
    margin-top:6px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
    margin-left:35px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #bbb;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
    color:#bbb;
}
#signin_menu label {
    font-weight:normal;
    color:#aaa;
    
}
#signin_menu p.remember {
    padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
#signin_menu p a {
    color:#bbb!important;
}
#signin_submit {
    border-radius:4px;
    background-color:#999999;
    border:1px solid #999999;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
    margin:0 5px 0 0;
    padding:4px 10px 5px;
    text-shadow:0 -1px 0 #999999;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}


/****************************************************************
  End Sign-in 
*****************************************************************/

/****************************************************************
  Image Preview
*****************************************************************/

#imgPreviewWithStyles {
    background-color:#fff;
    padding: 10px;
    z-index: 999;	
    border: 1px dotted #aaa;
}

/* Text below image */
#imgPreviewWithStyles span {
    color: #666;
    text-align: center;
    font-size:10px;
    display: block;
    padding: 10px 0 5px 0;
    overflow:hidden;
}

/****************************************************************
  End Image Preview
*****************************************************************/


/****************************************************************
  Manage Views
*****************************************************************/
ul#subviewlinks {padding:0; text-align:right; letter-spacing:1px;margin-top:0px;}
ul#subviewlinks li { display:inline; font-size:12px; list-style:none outside none; padding-left:8px;padding-right:5px; border-right:2px solid #eee; text-align:center;  }
ul#subviewlinks li a {width:100%; text-align:center;}
ul#subviewlinks li:last-child {border-right:none;} 
ul#subviewlinks li a.current, ul#subviewlinks li a.youarehere { color:#666; }
ul#subviewlinks li a.current:hover, ul#subviewlinks li a.youarehere:hover { color:#fff; }


span.title {color:#000; font-size:13px;}
label.instructions { color:#333333; font-size:13px; margin-top:20px; }

/****************************************************************
  End Manage Views
*****************************************************************/
