@model TheMemorableMoments.UI.Models.Views.DirectoryView
@{ Import Namespace="TheMemorableMoments.Domain.Model"}
@using TheMemorableMoments.Domain.Model.MediaClasses

@{ 
 ViewBag.Title = "site directory"; 
}

@section MainContent { 
<div id="directory">

    @{ const string format = "<div class=\"container\"><span class=\"outer\" ><a class=\"member\" href=\"/{0}\"><span><img src=\"{1}\" /></span> </a></span><p class=\"clearboth\" >{2}</p></div>";}
 @foreach (Member member in Model.Members)
    {@(string.Format(format, member.User.Username, Model.GetImageSrc(member.Media, PhotoType.Thumbnail), member.User.FirstName + " " + member.User.LastName))}


</div> 
}

@section head { 
<style type="text/css">@import url("/Content/css/directory/index.css");</style> 
}