 a:link, a:visited {color:#aaa;font-size:11px;text-decoration:none;}
 a:hover {text-decoration:underline;}

ul.groupedphotos {margin-top:0px;}

ul.alphabet { margin-top:5px; margin-bottom:20px; }
ul.alphabet li { list-style:none; text-align:center; padding-bottom:3px; padding-top:3px;color:#ddd;}
ul.alphabet li a {font-weight:bold;}
ul.alphabet li.selected {background-color:#eee;border:1px dotted #ccc; border-right:none;}

ul.paging li { display:inline; list-style:none;}
ul.paging {margin-top:25px;}

ul.toppaging { border-bottom:1px dotted #ccc;}
ul.bottompaging { border-top:1px dotted #ccc;margin-top:10px;}

div.toppaginationcontainer { border-bottom:1px dotted #CCCCCC; margin-bottom:20px; margin-left:45px; margin-top:10px;}
div.alphabetcontainer {float:left;width:30px;color:#ccc;margin-right:15px;margin-top:25px;border-right:1px dotted #ccc;}

div.photocontainer {float:left;width:950px;}
div.bottompaginationcontainer {border-top:1px dotted #ccc;margin-top:30px;margin-left:45px;}

ul.pagination { margin-bottom:10px; margin-top:20px; padding-bottom:20px; }
ul.pagination .active, 
div.top.pagination span, 
div.bottom.pagination span {color:#fff; display:block; float:left; padding:4px 6px; }

div.bottompaginationcontainer ul.pagination {margin-top:10px;}

h2.grouptitle {font-size:14px; margin-top:20px;}
