<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace" >
    <add key="rootUrl"  value="http://thememorablemoments.net"/>
    <add key="rootImageServiceUrl"  value="http://media.thememorablemoments.net"/>
    <add key="cloudUrl"  value="http://thememorablemoments.blob.core.windows.net"/>
    <add key="cloudAccount"  value="thememorablemoments"/>
    <add key="cloudKey"  value="nsQojH5Kmy34p6HmAr8EDdh6uBX2T//hZ3hbBjXxSXM/dGHcLohFcd895j2m+SSTc6TvrE2u2wNiOtRpyOfWxw=="/>    
  </appSettings>

  <connectionStrings >
    <clear/>
    <add  xdt:Transform="SetAttributes(connectionString)" connectionString="Data Source=localhost;Initial Catalog=TheMemorableMoments;Integrated Security=SSPI;" name="SqlServer"/>
  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>