div#imagecontainer {margin-left:auto; margin-right:auto; margin-top:20px;}

div#imagecontainer h3 {color:#000;margin-top:10px;font-weight:normal;margin-bottom:10px;font-size:14px;}
div#imagecontainer img{border:1px dotted #ccc;padding:10px;}
div#photolinks {margin-top:15px; line-height:130%;}

div.details {margin-left:10px;}
span.toplinks {color:#ccc; letter-spacing:0.5px;margin-top:0px;}
p {margin-left:2px;font-size:11px;}

a.hyperlinks:link, a.hyperlinks:visited { color:#CCCCCC; }
a.hyperlinks:hover {color:#fff;}