<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="delay" value="15000" />
    <add key="cloudUrl" value="http://127.0.0.1:10000/devstoreaccount1"/>
    <add key="cloudAccount" value="devstoreaccount1"/>
    <add key="cloudKey" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add connectionString="Data Source=localhost;Initial Catalog=Development.Momntz;User Id=momntz;Password=folsom_1;" name="SqlServer" />
  </connectionStrings>
</configuration>
