@model System.Web.Mvc.ViewPage<TheMemorableMoments.UI.Models.Views.HomeView>
@using TheMemorableMoments.Domain.Model.MediaClasses


@{ 
 ViewBag.Title = "LogOff"; 
}

@section MainContent { 
    <div class="search">
@* ReSharper disable Html.PathError *@
             <form action="/Search" method="get" name="searchForm" > 
@* ReSharper restore Html.PathError *@
		        <input  name="text" type="text" maxlength="150"  /> 
                <input type="submit" class="submit" value="Search" /> 
	        </form>
    </div>
    <div id="randomphotos" >
         <ul>  
         
              @foreach (Media media in Model.Media)
              {
                 <li>@Model.GetImageLink(media)</li>
              }
            
           </ul> 
      </div>
}


@section head { 

     <style type="text/css">
         @@import url("/Content/css/home/index.css");
     </style>
     <script language="javascript" type="text/javascript" src="/Scripts/Pages/home/index.js"></script>
 
}

@section pageHeader { 
 
}

@section navigation { 
 
}
