<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <sectionGroup name="system.storageModel">
    <section name="blobs" type="System.StorageModel.Configuration.BlobStorageSection, Cloud4Net.Abstractions" />
  </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <clear />
    <!--<add name="Azure" providerName="System.StorageModel.WindowsAzure.AzureProvider, Cloud4Net.Azure" connectionString="AccountName=thememorablemoments;AccountKey=nsQojH5Kmy34p6HmAr8EDdh6uBX2T//hZ3hbBjXxSXM/dGHcLohFcd895j2m+SSTc6TvrE2u2wNiOtRpyOfWxw=="/>-->
    <add connectionString="Data Source=localhost;Initial Catalog=ThePhotoProject;Integrated Security=SSPI;" name="SqlServer" />
  </connectionStrings>
  <system.storageModel>
    <!-- specify the default provider for blobs -->
    <blobs defaultProvider="Azure">
      <!-- containers registered hereunder will be created on startup if they not already exist 
      <container name="pictures"/>
      <container name="videos"/>
-->
      <!-- you can assign a different provider to each container (provider attribute) 
      <container name="cdn-images" provider="AWS"/>-->
    </blobs>
  </system.storageModel>
</configuration>