ul.uploadsteps{ clear:both; margin-top:40px; margin-left:10px;}
ul.uploadsteps li { list-style:none; vertical-align:text-top; padding-top:2px;display:inline;margin-right:40px;}
ul.uploadsteps li img { vertical-align:middle; margin-right:5px; padding-bottom:3px;}
