

@{ 
 ViewBag.Title = "LogOff"; 
}

@section MainContent { 
<h2>LogOff</h2> 
}

@section mastertitle { 
 
}

@section head { 
 
}

@section pageHeader { 
 
}

@section navigation { 
 
}
